xmltodict~=0.13.0
pybullet~=3.2.5
scipy~=1.10.1
numpy~=1.24.2
matplotlib~=3.7.1
glfw~=2.5.9
Pillow~=9.5.0
setuptools~=65.5.1
stable_baselines3==1.6.0
gym==0.21.0
git+https://github.com/openai/mujoco-py